<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DemoWebShop Automated Test Suite">
    <test name="UI Tests">
        <classes>
            <class name="com.demowebshop.tests.AuthTest" />
            <class name="com.demowebshop.tests.SearchTest" />
        </classes>
    </test>
</suite>