<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">

    <!-- Блок API тестов (Регистрация + Логин) -->
    <test name="API Registration and Login Flow">
        <classes>
            <class name="com.demowebshop.tests.api.apiTestRegisterPlayer" />
            <class name="com.demowebshop.tests.api.apiTestLoginPlayer" />
            <class name="com.demowebshop.tests.api.apiTestActivatePromocode" />
        </classes>
    </test>

    <!-- Блок UI тестов -->
    <test name="UI Tests" enabled="false">
        <classes>
            <class name="com.demowebshop.tests.ui.AuthTest" />
            <class name="com.demowebshop.tests.ui.SearchTest" />
        </classes>
    </test>

</suite>